<div class="field has-addons">
  <p class="control">
    <span class="select">
      <select title="side" name="side" id="side" class="is-dark">
        <option *ngFor="let option of availableSides" [value]="option.value">{{option.display}}</option>
      </select>
    </span>
  </p>
  <p class="control is-expanded">
    <input class="input" id="name" name="name" type="text" placeholder="Add a character">
  </p>
  <p class="control">
    <button class="button is-dark" type="submit">
      Add character
    </button>
  </p>
</div>
