<form (ngSubmit)="onSubmit(form)" #form="ngForm" (change)="selectedSide = form.value.side">
  <div class="field has-addons">
    <p class="control">
      <span class="select">
        <select title="side" name="side" class="is-dark">
          <option
            *ngFor="let option of sides"
            [value]="option.value">{{option.display}}</option>
        </select>
      </span>
    </p>
    <div class="control is-expanded">
      <ng2-completer
        inputClass="input"
        [datasource]="chars"
        [minSearchLength]="0"></ng2-completer>
    </div>
  </div>
</form>

