<div class="tabs is-centered">
  <ul>
    <li [ngClass]="{'is-active': chosenTab === 'all'}">
      <a (click)="onChoose('all')" style="cursor: pointer">All</a>
    </li>
    <li [ngClass]="{'is-active': chosenTab === 'light'}">
      <a (click)="onChoose('light')" style="cursor: pointer">Light</a>
    </li>
    <li [ngClass]="{'is-active': chosenTab === 'dark'}">
      <a (click)="onChoose('dark')" style="cursor: pointer">Dark</a>
    </li>
  </ul>
</div>

<div class="columns has-text-centered is-centered" style="margin-top: 20px">
  <div class="column is-half">
    <app-list [characters]="getCharacters()" (charAssigned)="onSideChosen($event)"></app-list>
  </div>
</div>
