.media-left {
  padding-right: .5rem;
}

button.button {
  height: 100%;
  /* border-color: transparent; */
}

button.dark-side {
  border: 1px solid #F44336;
  color: #F44336;
}

button.dark-side:hover {
  background-color: #F44336;
  color: #fff;
}

button.light-side {
  border: 1px solid #2F67F8;
  color: #2F67F8;
}

button.light-side:hover {
  /* background-color: #2196F3; */
  background-color: #2F67F8;
  color: #fff;
}


.card-footer-item {
  padding: .40rem;
  color: #333;
  transition: all .2s ease-in-out;
}

img {
  width: 128px;
  height: 128px;
}