button.button {
  height: 100%;
}

button.dark-side {
  background-color: #F44336;
  border-color: transparent;
  color: #fff;
}

button.light-side {
  /*background-color: #2196F3;*/
  background-color: #2F67F8;
  border-color: transparent;
  color: #fff;
}

.card-footer-item {
  padding: .40rem;
}

.media-left {
  padding-right: .5rem;
}

img {
  width: 128px;
  height: 128px;
  /*border-radius: 50%;*/
  /*object-fit: cover;*/
}
