button.button {
  height: 100%;
}

button.dark-side {
  background-color: #F44336;
  border-color: transparent;
  color: #fff;
}

button.light-side {
  background-color: #2196F3;
  border-color: transparent;
  color: #fff;
}

.card-footer-item {
  padding: .40rem;
}

.media-left {
  padding-right: .5rem;
}

img {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  object-fit: cover;
}

.card:hover {
  box-shadow: 5px -1px 6px 0 rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
}
