<div class="card" style="margin-bottom: 5px">
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-128x128">
          <img src="{{ char.image }}" [alt]="char.name">
        </figure>
      </div>
      <div class="media-content">
        <p style="text-transform: capitalize" class="title is-3">{{ name }}</p>
        <p class="subtitle is-4">@{{ user }}</p>
      </div>
    </div>
  </div>
  <footer class="card-footer">
    <button (click)="onAssign('light')" class="card-footer-item button light-side">
      <i class="fab fa-3x fa-rebel"></i>
    </button>
    <button (click)="onAssign('dark')" class="card-footer-item button dark-side">
      <i class="fab fa-3x fa-empire"></i>
    </button>
  </footer>
</div>
