<div class="card">
  <div class="card-content">
    <div class="content">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
      <a href="#">@bulmaio</a>. <a href="#">#css</a> <a href="#">#responsive</a>
    </div>
  </div>
  <footer class="card-footer">
    <button class="card-footer-item button">
      <div class="myFlex">
        <i style="color: #2196F3" class="fab fa-6x fa-rebel item"></i>
        <img width="93" height="93" class="item" src="../../assets/yoda.svg" alt="">
      </div>
    </button>
    <button class="card-footer-item button">
      <div class="myFlex">
        <i style="color: #F44336" class="fab fa-6x fa-empire item"></i>
        <img width="93" height="93" class="item" src="../../assets/darth-vader.svg" alt="">
      </div>
    </button>
  </footer>
</div>

<style>
  .myFlex {
    display: flex !important;
    width: 100%;
    justify-content: space-between;
    align-items: stretch;
    height: 100%;
  }
  .item {
    flex-grow: 0.5;
  }

  img {
    vertical-align: bottom;
    height: 100%;
    max-width: 100%;
  }
</style>
