<div class="card">
  <div class="card-content">
    <div class="content">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
      <a href="#">@bulmaio</a>. <a href="#">#css</a> <a href="#">#responsive</a>
    </div>
  </div>
  <footer class="card-footer">
    <button class="card-footer-item button">
      <i style="color: #2196F3" class="fab fa-3x fa-rebel"></i>
    </button>
    <button class="card-footer-item button">
      <i style="color: #F44336" class="fab fa-3x fa-empire item"></i>
    </button>
  </footer>
</div>
